# **Data Exploration**

In [1]:
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
data = pd.read_csv('clean_employees_dataset.csv')

In [3]:
data.head()

,Id,SSN,Age,Salary,COVID Test Result,Pre-Existing Conditions,Recovery Time
0,409,105-22-7328,50,82000,1,high blood pressure,4
1,908,737-28-5583,55,73000,0,asthma,0
2,533,186-56-6345,46,94000,1,asthma,6
3,354,563-88-3187,42,54000,1,none,2
4,937,717-85-3843,26,82000,0,none,0

In [4]:
data.describe()

               Id         Age         Salary  COVID Test Result  Recovery Time
count  951.000000  951.000000     951.000000         951.000000     951.000000
mean   498.740273   37.644585   72417.455310           0.598318       2.950578
std    289.113951   11.970308   18038.767324           0.490496       2.745844
min      1.000000   18.000000   42000.000000           0.000000       0.000000
25%    250.500000   27.000000   57000.000000           0.000000       0.000000
50%    499.000000   38.000000   72000.000000           1.000000       3.000000
75%    747.500000   48.000000   88000.000000           1.000000       6.000000
max    999.000000   58.000000  103000.000000           1.000000       7.000000

In [5]:
data[data['COVID Test Result']==1]['Age'].mean()

39.58523725834798

In [6]:
data[data['COVID Test Result']==0]['Age'].mean()

34.753926701570684

In [7]:
data[data['COVID Test Result']==1]['Recovery Time'].value_counts()

6    133
7    127
5     88
4     81
3     75
2     65
Name: Recovery Time, dtype: int64

In [8]:
data[data['COVID Test Result']==1][['Age', 'Recovery Time']].groupby('Recovery Time').mean()

                     Age
Recovery Time
2              31.200000
3              37.613333
4              36.666667
5              40.659091
6              42.526316
7              43.078740

In [9]:
data[data['COVID Test Result']==1][['Age', 'Recovery Time', 'Pre-Existing Conditions']].groupby('Pre-Existing Conditions').mean()

                               Age  Recovery Time
Pre-Existing Conditions
asthma                   43.963636       5.536364
diabetes                 44.653226       5.564516
high blood pressure      44.927419       5.701613
none                     31.184834       3.791469

In [10]:
def has_condition(a):
    if a in ['asthma', 'high blood pressure', 'diabetes']:
        return 1
    return 0

data['Has Condition'] = data['Pre-Existing Conditions'].copy(deep=True).apply(has_condition)

In [11]:
data.head()

,Id,SSN,Age,Salary,COVID Test Result,Pre-Existing Conditions,Recovery Time,Has Condition
0,409,105-22-7328,50,82000,1,high blood pressure,4,1
1,908,737-28-5583,55,73000,0,asthma,0,1
2,533,186-56-6345,46,94000,1,asthma,6,1
3,354,563-88-3187,42,54000,1,none,2,0
4,937,717-85-3843,26,82000,0,none,0,0

In [12]:
data[data['COVID Test Result']==1][['Age','Recovery Time', 'Has Condition']].groupby('Has Condition').mean()

                     Age  Recovery Time
Has Condition
0              31.184834       3.791469
1              44.536313       5.603352